<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>WeatherApp</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
    </head>



  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">Weather App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="{% url 'maps' %}">Maps</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'forecast' %}">Forecast</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Index</a>
      </li>


    </ul>
    <form action="{% url 'maps' %}" class="form-inline my-2 my-lg-0" method="POST">
        {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Enter Forecast City" aria-label="Search" name="city_name">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
    <br/>




{% block content %}

<div class="container">

  <div id='map' style='width: 1000px; height: 600px;'></div>
  <script>
  mapboxgl.accessToken = 'pk.eyJ1IjoicHJha2hhcjEzIiwiYSI6ImNrNHJ3ODdxZjEzaHkzbWwxM3h2MGozcnIifQ.3ByFVejM5A80LHcUFZwliA';
  var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/streets-v10',
  center: [{{lon}}, {{lat}}],
  zoom: 9
  });
  </script>
{{wind}}
{{temperature}}
<br/>
{{lon}}<br/>

{{lat}}
<br/>




<img src="{{post.cover.url}}" class="img-fluid" alt="Responsive image">




<form action="{% url 'maps' %}" method="post">
    {% csrf_token %}
    <label for="city_name">City name: </label>
    <input id="city_name" type="text" name="city_name">
    <input type="submit" value="OK">
</form>




{% endblock %}
